extends layout

block content
  div(class='app-container')
    header(class='text-sm-center')
      img(class='main-logo', src='images/header-img.png', alt='main logo')
    div(class='brown-band')
    div
      img(class='spotify-logo m-t-3 m-b-2', src='images/spotifyLogo-BLACK.svg', alt='spotify logo')
      p(class='app-instructions') Link your Spotify accout to auto-generate a lineup schedule.
      a(href='#{spotifyAuthorizeUrl}')
        img(class='connect-now-button m-t-2', src='images/connectNow-btn.png', alt='connect now button')

